doctype 5
head
  meta(charset="utf-8")
  title= title
  include includes/assets
body
  h1 Este.js
  p.
    Este is robust, modular and comfortable dev stack for web apps development
    with several unique features.
  p: a(href="https://github.com/Steida/este") github.com/Steida/este
  h2 Demos
  ul
    li: a(href="/bower_components/este-library/este/demos/index.html").
      este demos
    li: a(href="/bower_components/closure-library/closure/goog/demos/index.html").
      closure demos
  script
    app.start({"someDataFromServer": 123});
  if env == 'development'
    script(src="http://localhost:35729/livereload.js")