doctype 5
head
  meta(charset="utf-8")
  title= title
  include includes/assets

body
  h1 Este.js App Boilerplate
  p.
    This is single page application boilerplate.
  ul
    li: a(href="/bower_components/este-library/este/demos/index.html").
      Este demos
    li: a(href="/bower_components/closure-library/closure/goog/demos/index.html").
      Google Closure demos
  p.
    Simple TodoMVC component example:
  #todo-mvc
  p Where to start:
  ul
    li: code client/app/js/start.coffee
    li: code client/app/css/app.styl
    li: code server/app/*
  p Happy Codding!
  script.
    app.start({"someDataFromServer": 123});
  if env == 'development'
    script(src="http://localhost:35729/livereload.js")