doctype 5
head
  meta(charset="utf-8")
  title= title
  include includes/assets
body
  h1 Este.js
  p.
    Este is robust, modular and comfortable dev stack for web apps development
    with several unique features.

  h2 Boilerplate for your Este app
  p.
    <a href="https://github.com/Steida/este">github.com/Steida/este</a><br>

  h2 Library containing Este MVC, UI components, dom utils, and more...
  p.
    <a href="https://github.com/Steida/este-library">github.com/Steida/este-library</a>

  h2 Demos
  p.
    In development mode, every class has own file, therefore even simple demo
    consists of many files. It's a good thing. For production all styles and
    scripts are joined and compiled with unbeatable level of compression.
  ul
    li.
      <a href="/bower_components/este-library/este/demos/index.html">Este demos</a>
      (v2.4.0)
    li: a(href="/bower_components/closure-library/closure/goog/demos/index.html").
      Google Closure demos

  script.
    app.start({"someDataFromServer": 123});
  if env == 'development'
    script(src="http://localhost:35729/livereload.js")