{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        ["transform-define", "./scripts/env-config.js"]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        ["transform-define", "./scripts/env-config.js"]
      ]
    },
    "test": {
      // next/babel does not transpile import/export syntax.
      // github.com/zeit/next.js/tree/master/examples/with-jest
      "presets": [["env", { "modules": "commonjs" }], "next/babel"],
      "plugins": [
        ["transform-define", "./scripts/env-config.js"]
      ]
    }
  }
}
