{
  "env": {
    "development": {
      "presets": ["next/babel", "@babel/preset-flow"],
      "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        "inline-dotenv",
        "relay",
        "react-native-web"
      ]
    },
    "production": {
      "presets": ["next/babel", "@babel/preset-flow"],
      "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        "transform-inline-environment-variables",
        "relay",
        "react-native-web",
        ["react-intl", { "messagesDir": "lang/.messages/" }]
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel",
        "@babel/preset-flow"
      ],
      "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        "relay",
        "react-native-web"
      ]
    }
  }
}
