{
  "parser"  : "babel-eslint",
  "plugins": [
    "ava",
    "react-native"
  ],
  "extends" : [
    "airbnb",
    "plugin:ava/recommended"
  ],
  "rules": {
    // Soft some rules.
    "global-require": 0, // Used by webpack-isomorphic-tools and React Native.
    "new-cap": [2, {"capIsNew": false, "newIsCap": true}], // For Record() etc.
    "no-class-assign": 0, // Class assign is used for higher order components.
    "no-nested-ternary": 0, // It's nice for JSX.
    "no-param-reassign": 0, // We love param reassignment. Naming is hard.
    "no-shadow": 0, // Shadowing is a nice language feature. Naming is hard.
    "import/imports-first": 0, // Este sorts by atom/sort-lines natural order.
    "react/jsx-filename-extension": 0, // No, JSX belongs to .js files
    "jsx-a11y/html-has-lang": 0, // Can't recognize the Helmet.
    "no-confusing-arrow": 0, // This rule is super confusing.
    "react/forbid-prop-types": 0, // Este is going to use Flow types.
    "react/no-unused-prop-types": 0, // Este is going to use Flow types.
    "arrow-parens": 0, // Not really.
    // React Native.
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2,
    "react/prefer-stateless-function": 0,
    "default-case": 0,
    "comma-dangle": 0,
    "no-use-before-define": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "class-methods-use-this": 0
  }
}
