# Este

*.jsbundle
*.sublime-workspace
.DS_Store
.firebaserc
build/
firebase-debug.log
firebase/rules.json
node_modules/
npm-debug.log
src/common/secrets.json
src/native/config.js
src/native/messages.js
webpack-assets.json

# React Native

!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserstate
.gradle
.idea
DerivedData
local.properties
project.xcworkspace
xcuserdata
