!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.jsbundle
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.sublime-workspace
*.xccheckout
*.xcuserstate
.DS_Store
.firebaserc
.gradle
.idea
DerivedData
\.buckd/
android/app/libs
android/keystores/debug.keystore
buck-out/
build/
firebase-debug.log
firebase/rules.json
local.properties
node_modules/
npm-debug.log
project.xcworkspace
src/common/secrets.json
src/native/config.js
src/native/messages.js
webpack-assets.json
xcuserdata
