.DS_Store
este.sublime-workspace

# because Este demos are uncompiled
# bower_components/
bower_components/animate-css/
bower_components/closure-compiler/
bower_components/html5-boilerplate/
bower_components/normalize-css/