.este-loading:after {
  animation: pendingEllipsis 2s 2s infinite;
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  position: absolute;
  vertical-align: bottom;
  visibility: hidden;
}
@keyframes pendingEllipsis {
  from {
    visibility: hidden;
    width: 2px;
  }
  to {
    visibility: visible;
    width: 55px;
  }
}
