@import '../../../bower_components/normalize-css/normalize.css'
@import '../../../bower_components/stylus-nib'
@import '../../../bower_components/este-library/este/css'

body
  font-family Tahoma
  margin 1em

h1, h2, h3, h4
  margin-bottom 0

h2
  font-size 1.2em

p, #todo-mvc
  margin-left 1em
  margin-top 1em
  max-width 47em