if env == 'development'
  link(href="/client/app/css/app.css", rel="stylesheet")
  script(src="/bower_components/closure-library/closure/goog/base.js")
  script(src="/client/deps.js")
  script(src="/client/app/js/start.js")
else
  link(href="/client/app/build/app.css?v=#{appVersion}", rel="stylesheet")
  script(src="/client/app/build/app.js?v=#{appVersion}")