* {
  /*Because box-sizing is not inherited.*/
  box-sizing: border-box;
}

html {
  /*Changes the default tap highlight to be completely transparent in iOS.*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /*Prevent adjustments of font size after orientation changes in IE and iOS.*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  /*Remove the margin in all browsers.*/
  margin: 0;
}
