// - speakerdeck.com/vjeux/react-css-in-js
// - jxnblk.com/writing/posts/patterns-for-style-composition-in-react

// App styles are here:
// - browser/app/themes
// - browser/app/components

// But not everything belongs to inline-styles.
// We need global styles for platform specific stuff.

* {
  // Because box-sizing is not inherited.
  box-sizing: border-box;
}

html {
  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // Prevent adjustments of font size after orientation changes in IE and iOS.
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  // Remove the margin in all browsers.
  margin: 0;
}

// Yes, we can still override inline style globally.
// github.com/jxnblk/rebass#styling-with-css
