.login {
  .social-login {
    margin-bottom: 1em;
  }
  .email-login {
    max-width: 28em;
    input {
      margin: .25em 0;
      padding: .25em;
      border: solid 1px #ccc;
      width: 100%;
      &:focus {
        border: solid 1px #aaa;
      }
    }
    .buttons {
      padding-top: .5em;
      button {
        font-size: .825em;
      }
    }
    .hint {
      font-size: .75em;
    }
  }
  .login-error {
    color: red;
  }
}
