.login
  form
    width 20em

  input
    margin .25em 0
    width 100%

  button
    font-size .75em

  .hint
    font-size .75em

  .error-message
    color red
    margin .5em
    padding-top .5em
