// TODO: Splitt into .new-todo and .todo-list.

.todos-page
  .new-todo
    border 0
    border-bottom solid 1px #ccc
    font-size 1.5em
    width 21em

    &:focus
      border-bottom solid 1px #777

  .buttons
    button
      font-size .75em

  ol, ul
    li
      font-size .875em
      margin-bottom .25em
      max-width 42em

      label, .button
        background-color #eed
        border-radius .5em
        padding .125em .5em

      .button
        background-color #6496c8
        color #fff
        cursor pointer // Like button.
        font-weight bold
        margin-left .25em
        text-shadow -1px 1px #417cb8
        user-select none // Like button.
        visibility hidden

        &:hover
          background-color #346392
          text-shadow -1px 1px #27496d

      &:hover .button
        visibility visible
