.todos
  .new-todo
    border 0
    border-bottom solid 1px #ccc
    font-size 1.5em
    width 16em

    &:focus
      border-bottom solid 1px #777

  .buttons
    button
      font-size .75em

  ol, ul
    li
      font-size .875em
      margin-bottom .25em

      label
        background-color #eed
        border-radius .5em
        padding .125em .5em

      button
        line-height 1.438em
        line-height 10px
        margin-left .25em
        padding 0 .25em !important
        position relative
        left 3px
        visibility hidden

      &:hover button
        visibility visible
