.firebase-users {
  padding-top: 1em;

  ol {
    list-style-type: none;
    padding: 0;

    li {
      height: 42px;
      margin: .5em;
      display: inline-block;
      img {
        height: 100%;
        border-radius: 25%;
      }
    }
  }
}
