.firebase-users {

  ol {
    list-style-type: none;
    padding: 0;

    li {
      height: 42px;
      margin: .5em;
      display: inline-block;
      img {
        max-height: 50px;
        border-radius: 50%;
      }
    }
  }
}
